:root {
    background-color: #555555;
    font-family: 'VT323', monospace;
}

body {
}

#wrap {
    height: 100%
width:100%;
}

#non-gallery-container {
    left: 0px;
    width: 80%;
}

#gallery-container {
    position: relative;
    left: 80% ;
    width: 280px;
    background: #656565;
}

div#threed-and-status {
    width: 100%;
}

#bottom-toolbar {
    position: fixed;
}

canvas {
    width: 98%;
    height: 100%;
    /*prozent für 3d*/
}

#vat {
    top: 0px;
}

table#vat-table {
    width: 98%;
}

#gallery-buttons {
    position: fixed;
    left: 80%;
}

#container {
    background: none;
}

#layer-controls {
    position: fixed;
    left: 20px;
    top: 0px;
    background: none;
    font-family: 'VT323', monospace;
    font-size: 13px;
}

input {
    position: absolute;
    padding-top: 7px;
    padding-left: 5px;
    margin: 0px 0px 0px 0px;
    background-color: #656565;
    outline-style: none;
    border: none;
    color: #ffc23a;
}

/*then text*/

.then {
    font-size: 18pt;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.if {
    font-size: 18pt;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.if-then {
    color: white;
    font-family: 'VT323', monospace;
    border: none;
    min-height: 90px;
    padding: 0px 0px 0px 0px;
    background-color: #66b5b4;
}

.if-then+.if-then {
    background-color: #ae87ca;
}

/*methoden-name*/

.trigger-name {
    border: none;
}

/*conditions*/

#vat-conditions {
    background: none;
    width: 180px;
}

/*actions*/

#vat-actions {
    background: none;
    width: 180px;
}

/*color table rules*/

.rule {
    border: none;
    background: white;
}

.rule .if-then {
    min-height: 55px;
}

/*Comment of user*/

.comment-textarea {
    background: #555555;
    color: white;
    font-size: 12pt;
    font-family: 'VT323';
    border: none;
    padding: 8px;
    height: 40px;
}

/*Block*/

.instruction {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
    background: #656565;
}

::-webkit-scrollbar-track {
    background: #656565;
}

::-webkit-scrollbar-thumb {
    background: #656565;
}

.rule-box {
    background-color: #656565;
}

/*Methoden Name: exclude blocks*/

.trigger-name .editable-display {
    font-family: 'VT323', monospace;
    border: none;
    background: #555555;
    color: white;
    padding: 0px 30px 0px 30px;
    font-size: 25px;
    margin: 10px 0px 0px 10px;
    text-align: center;
}

.trigger-name .editable-display:hover {
    background: #ffc23a;
    color: #555555;
}

/*popup menu*/

.popup-list-item {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #555555;
}

.popup-list-item:hover {
    color: black;
    background: #ffc23a;
}

#one-true-value-editor {
    background: #555555;
    border-style: solid;
    border-color: white;
}

/*condition block normal*/

/*condition block selected*/

/*action block normal*/

.action.instruction.instruction-context-menu {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: white;
    color: #ae87ca;
    border: 2px;
    border-style: solid;
}

/*action block selected*/

.action.instruction.instruction-context-menu.vat-selected {
    background: #ae87ca;
    color: white;
}

/*Expand block triangle*/

.action .vat-flippy-closed {
    color: #ae87ca;
}

.action .vat-flippy-open {
    color: #ae87ca;
}

.condition .vat-flippy-open {
    color: #66b5b4;
}

.condition .vat-flippy-closed {
    color: #66b5b4;
}

/*fields inside condition blocks*/

.condition .editable-display {
    text-align: center;
    border-color: #66b5b4;
    border-style: solid;
    border-width: 2px;
    font-family: 'VT323', monospace;
    font-size: 11pt;
    min-width: 23px;
    min-height: 23px;
    color: #66b5b4;
}

/*fields inside condition blocks*/

.action .editable-display {
    border: 2px;
    border-color: #ae87ca;
    border-style: solid;
    min-height: 23px;
    min-width: 23px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 11pt;
    color: #ae87ca;
}

/*fields inside condition blocks pickers ?*/

img.shape-editor-display {
    border-width: 2px;
    border-style: solid;
    min-height: 23px;
    min-width: 23px;
}

.condition .direction-picker-display {
    border-style: solid;
    border-color: #66b5b4;
    border-width: 2px;
}

.action .direction-picker-display {
    border-style: solid;
    border-color: #ae87ca;
    border-width: 2px;
}

/*Statusbar ausblenden*/

#status-bar {
    display: none;
}

/*toolbar top*/

#vat-code-header {
    display: none;
}

#vat-code-header-agent-name {
    display: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/*agents */

div#gallery-description {
    width: 250px;
}

#gallery {
    width: 250px;
}

.gallery_name {
    font-family: 'VT323',monospace;
    font-size: 12pt;
    margin: 0px 0px 0px 10px;
}

#gallery-title-span {
    font-family: 'VT323', monospace;
    font-size: 30px;
    padding: 0 0 0 100px;
}

.gallery_shapeitem {
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 0px;
    height: 35px;
}

li.gallery-shapelabel {
    display: none;
}

span.gallery_name {
    text-align: center;
    vertical-align: middle;
}

.config {
    background: none;
    margin-top: 5px;
    margin-right: 5px;
}

.gallery-thumbnail {
    border-color: #ffc23a;
}

.gallery_agentitem {
    height: 35px;
}

.gallery_agentitem:hover {
    background-color: #ffc23a;
    color: #555555;
}

.flippy-closed {
    margin: 0 10px 0 20px;
}

.flippy-open {
    margin: 0 10px 0 20px;
}

.vat-proxy {
    height: 40px;
    width: 40px;
}

.method.block.instruction-context-menu {
    border: 2px;
    border-style: solid;
    border-color: white;
}

.icon-tool-with-translated-tooltip {
}

.block.rule.instruction-context-menu.vat-selected {
    border-style: solid;
    border-color: #ffc23a;
    border-width: 2px;
}

.condition.instruction.instruction-context-menu.vat-selected {
    background: #66b5b4;
    color: white;
    border-color: white;
}

.comments-box {
    margin: 5px 5px 5px 5px;
}

.group-title.translated-gui-element {
    font-family: 'VT323',monospace;
    font-size: 20px;
}

.disclosure-box {
    font-family: 'VT323',monospace;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 110px;
    overflow: true;
}

.method-disclosure-span {
    font-size: 12pt;
}

textarea.comment-textarea {
    margin: 0px 0px 10px 7px;
    width: 100%;
}

select.icon-tool-with-translated-tooltip.form-control {
    color: white;
}

#gallery-description {
    background: #656565;
    font-size: 40px;
    text-align: center;
}

td.translated-gui-element {
    font-family: 'VT323', monospace;
    background: #555555;
    font-size: 30px;
    color: white;
}

#vat-code-header-td {
    background: #555555;
    color: #555555;
}

.condition.instruction.instruction-context-menu {
    background: white;
    color: #66b5b4;
    border-style: solid;
    border-color: #66b5b4;
    border-width: 2px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#vat-conditions-scroll {
    background: #656565;
    margin: 0px 20px 0px 20px;
}

#vat-conditions-td {
    background: #656565;
}

#vat-actions-scroll {
    background: #656565;
    margin: 0px 20px 0px 20px;
}

#vat-actions-td {
    background: #656565;
}

.block {
    margin: 20px 20px 20px 20px;
    background: #656565;
}

#vat-code-td {
    background: #656565;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-color: #555555;
    border-width: 0px;
    padding-top: 0px;
}

.method.block.instruction-context-menu.vat-selected {
    border: 2px;
    border-style: solid;
    border-color: #ffc23a;
}

div.method.block.instruction-context-menu {
}

.icon-tool-with-translated-tooltip.noUiSlider {
    height: 200px;
}

/*toolbar on top*/

#toolbar button.icon-tool-with-translated-tooltip {
    margin-right: 10px;
}

div.dropdown #action-button {
    background: url(http://www.pwigger.ch/AC/icons/menu.png);
    repeat: none;
}

div.direction-picker-display.north {
    background: black;
    content: url(http://www.pwigger.ch/AC/icons/menu.png);
}

/*Replace button-images*/

#tool-play img {
    display: none;
}

button#tool-play {
    background: url(http://www.pwigger.ch/AC/icons/play.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: #656565;
}

button#tool-play:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/play.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-play.down {
    background: url(http://www.pwigger.ch/AC/icons/active/play.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-stop img {
    display: none;
}

button#tool-stop {
    background: url(http://www.pwigger.ch/AC/icons/stop.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: #656565;
}

button#tool-stop:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/stop.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-stop.down {
    background: url(http://www.pwigger.ch/AC/icons/active/stop.png);
    background-color: #ffc23a;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    outline-style: none;
}

#tool-step img {
    display: none;
}

button#tool-step {
    background: url(http://www.pwigger.ch/AC/icons/step.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: #656565;
}

button#tool-step:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/step.png);
    outline-style: none;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: #ffc23a;
}

button#tool-step.down {
    background: url(http://www.pwigger.ch/AC/icons/active/step.png);
    outline-style: none;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-color: #ffc23a;
}

#tool-arrow img {
    display: none;
}

button#tool-arrow {
    background: url(http://www.pwigger.ch/AC/icons/cursor.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-arrow:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/cursor.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-arrow.down {
    background: url(http://www.pwigger.ch/AC/icons/active/cursor.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-pencil img {
    display: none;
}

button#tool-pencil {
    background: url(http://www.pwigger.ch/AC/icons/edit.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-pencil:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/edit.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-pencil.down {
    background: url(http://www.pwigger.ch/AC/icons/active/edit.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-multi img {
    display: none;
}

button#tool-multi {
    background: url(http://www.pwigger.ch/AC/icons/paint.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-multi:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/paint.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-multi.down {
    background: url(http://www.pwigger.ch/AC/icons/active/paint.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-eraser img {
    display: none;
}

button#tool-eraser {
    background: url(http://www.pwigger.ch/AC/icons/erase.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-eraser:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/erase.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-eraser.down {
    background: url(http://www.pwigger.ch/AC/icons/active/erase.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-hand img {
    display: none;
}

button#tool-hand {
    background: url(http://www.pwigger.ch/AC/icons/pointer.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-hand:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/pointer.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-hand.down {
    background: url(http://www.pwigger.ch/AC/icons/active/pointer.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-camera-rot img {
    display: none;
}

button#tool-camera-rot {
    background: url(http://www.pwigger.ch/AC/icons/3drotation.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-camera-rot:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/3drotation.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-camera-rot.down {
    background: url(http://www.pwigger.ch/AC/icons/active/3drotation.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-camera-pan img {
    display: none;
}

button#tool-camera-pan {
    background: url(http://www.pwigger.ch/AC/icons/aspect-chose.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-camera-pan:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/aspect-chose.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-camera-pan.down {
    background: url(http://www.pwigger.ch/AC/icons/active/aspect-chose.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-camera-zoom img {
    display: none;
}

button#tool-camera-zoom {
    background: url(http://www.pwigger.ch/AC/icons/zoom.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-camera-zoom:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/zoom.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-camera-zoom.down {
    background: url(http://www.pwigger.ch/AC/icons/active/zoom.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
}

#tool-fp img {
    display: none;
}

button#tool-fp {
    background: url(http://www.pwigger.ch/AC/icons/birdview.png);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    background-position: center;
    outline-style: none;
    background-color: #656565;
}

button#tool-fp:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/first-person-view.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-fp.down {
    background: url(http://www.pwigger.ch/AC/icons/first-person-view.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
}

button#tool-fp.down:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/birdview.png);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#tool-reset img {
    display: none;
}

button#tool-reset {
    background: url(http://www.pwigger.ch/AC/icons/restart.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    background-color: #656565;
}

button#tool-reset:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/restart.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

button#tool-reset.down {
    background: url(http://www.pwigger.ch/AC/icons/active/restart.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#action-button img {
    display: none;
}

button#action-button {
    background: url(http://www.pwigger.ch/AC/icons/active/menu.png);
    background-repeat: no-repeat;
    background-size: 5px 5px;
    background-position: center;
    outline-style: none;
    background-color: red;
}

button#action-button:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/menu.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

#language-button img {
    display: none;
}

button#language-button {
    background: url(http://www.pwigger.ch/AC/icons/world.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

button#language-button:hover {
    background: url(http://www.pwigger.ch/AC/icons/active/world.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    outline-style: none;
    background-color: #ffc23a;
}

/*buttons*/

button {
    font-family: 'VT323',monospace;
    border: none;
    color: white;
    background: #656565;
}

button:hover {
    background: #ffc23a;
    color: #555555;
}

div.group {
    margin: 0 20px 0 20px;
}

.group {
    padding-top: 4px;
    height: 30px;
}

#toolbar button {
}

#world-drop-down {
    position: relative;
    top: -5px;
    margin-right: 5px;
    color: white;
    font-family: 'VT323', monospace;
    background-color: #555555;
    border: solid white 1px;
}

#world-save-button {
    position: relative;
    top: -5px;
}

#world-button {
    position: relative;
    top: -5px;
}

#slow {
    position: relative;
    top: -5px;
}

#fast {
    position: relative;
    top: -5px;
}

#slider-group {
    position: relative;
    top: -5px;
}

.world-button-menu-item {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #555555;
    color: white;
}

.world-button-menu-item:hover {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #ffc23a;
    color: #555555;
}

.setting-button-menu-item {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #555555;
    color: white;
}

.setting-button-menu-item:hover {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #ffc23a;
    color: #555555;
}

.dropdown-menu {
    background-color: #656565;
}

hr {
    border-top: 0px solid white;
}

.language-button-menu-item {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #555555;
    color: white;
}

.language-button-menu-item:hover {
    font-family: 'VT323', monospace;
    font-size: 15px;
    background: #ffc23a;
    color: #555555;
}

#slider {
    color: black;
}

.noUi-target {
    background-color: transparent;
    border: solid 1px white;
    box-shadow: none;
    margin: 0px 15px;
}

.noUi-handle {
    background-color: white;
    box-shadow: none;
    border: solid 1px white;
}

.noUi-handle:hover {
    background-color: none;
    box-shadow: none;
    border: solid 1px #555555;
}

#vat-buttons {
    background: #555555;
    font-family: 'VT323',monospace;
    color: white;
    height: 30px;
}

#toolbar {
    background: #555555;
    height: 40px;
}

#vat-code-header-resize-img {
    opacity: 0;
    position: absolute;
    width: 1000px;
    height: 40px;
    left: 0;
    cursor: ns-resize;
}

#layer-div {
    position: absolute;
    left: 10px;
    top: 70px;
}

#layer-minus-button {
    position: absolute;
    left: 0px;
    top: 100px;
}

#layer-plus-button {
    position: absolute;
    left: 30px;
    top: 100px;
}

#layer-height {
}

#layer-height-div {
    position: absolute;
    left: 10px;
    top: 80px;
}

#layer-height-slider-div {
    position: absolute;
    left: 9px;
    top: 130px;
}

#layer-grid-checkbox {
    position: absolute;
    left: 0px;
    top: 360px;
}

#grid {
    position: absolute;
    left: 16px;
    top: 358px;
}

