@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

:root {
    --block-color: #1Ba6eA; 
    --background: white; 
    --foreground: #eee;    
    --highlight: yellow;
  /*var(--block-color); */
}

input{outline-style:none;}

/*Farbe für Block*/
.instruction,     .editable-display{
  background:#2BC6DA;  
  background:var(--block-color);
  color:white;
  font-family: 'Cute Font';
  font-size:22px; 
  font-weight: 100;
}

.action{}
.condition{}

  body{background:#eee;
  font-family:'Lato';
    font-size:13px;
  line-height:22px;
}



/*adjust Colors*/

 #gallery-container {
    background-color: #eee;
   color:#5399DB;
   color:#7C7C8D;
   border-right:solid #DDD 1px
}

/*Button-text*/
button{
  color:#5399DB;
}

#vat .condition.vat-selected:not(.disabled),#vat .action.vat-selected:not(.disabled),#vat .condition.vat-selected:hover:not(.disabled),#vat .action.vat-selected:hover:not(.disabled)  {background:#888;}
#vat .condition:hover:not(.disabled), #vat .action:hover:not(.disabled){background:#0B96dA;}

  /*Block Hover color
.instruction:hover, .vat-selected{
  background:#2BC6DA;
}*/


/*Farbe für Regel*/
 .rule{display:flex;
   background:none;
   margin:20px;
}
.rule-box{background:none;}

  .block .if-then{background:none;}

 .method{background:#fff;
 box-shadow: 0 6px 10px rgba(0,0,0,0.16), 0 3px 2px rgba(0,0,0,0.16);}

.block{margin:0px -5px 0px -5px;}

 /*Selected Rules and Methods*/
  #vat .rule.vat-selected,#vat .method.vat-selected{background:#f0f0ff;}
#vat .rule{ border-top:solid #efefef 5px;}

  /*#vat-table tbody tr td:last-child{padding-right:140px;}*/

#vat-table{margin-left:20px;}
  
/*Cleanup*/


#vat-code-td #vat-code {padding:0px 40px 0px 50px;}
#vat-conditions-scroll,#vat-actions-scroll{padding:0px 10px 0px 20px;}



 /*Gallery*/
    
 #gallery-container {
  width:250px;
}




#non-gallery-container{position:absolute;
top:0px; left:250px;}
#container canvas{padding-right:30px;}
#layer-controls{color:#bbb;position:fixed; top:15px; right:15px;opacity:0.2}
#layer-controls:hover{opacity:1;}





#gallery-title-span{position:relative;
top:20px;left:100px;}


  button.config{font-size:0px;background:none; border:none; }
  
  button.config:after{font-size:10px;
content:" edit"; color:#aaa; position:relative;
top:-2px;left:-10px}



ul#gallery_agentlist{margin:0px 0px 0px 0px;
  width:250px;
  
}
  
.gallery_agentitem{padding-left:35px; height:40px;}

.flippy-open, .flippy-closed{
  position:relative; left:200px;
  top:11px; 
 font-size:8px;}



  #gallery-description{padding-top:30px;background:none; font-size:30px; }
 
.gallery_shapeitem{padding-left:50px;
 

}

#asi-cube-link img{position:fixed; left:25px;background:none;top:5px;height:70px;border-left:solid white 0px;border-bottom:solid white 0px;
border-right:solid white 0px;}

html:after{position:fixed; left:0px; top:0px; content:" "; height:78px; width:100px; background:white;}

.gallery_agentitem .gallery-thumbnail {
    top: 9px;
  height:20px;
  width:20px;
  margin-right:20px;
}


.gallery_shapeitem .gallery-thumbnail {
    top:2px;
  height:20px;
  width:20px;
  margin-right:20px;

}




 .gallery_agentitem:hover, .gallery_shapeitem:hover {
        cursor: pointer
    }

.gallery_agentitem .gallery_name{position:relative; top:10px}
.gallery_shapeitem .gallery_name{position:relative; top:3px;}



li ul.gallery_agentsublist li:last-child div.gallery_shapeitem {
    margin-bottom: 30px;

}


li.gallery-shapelabel {
    display: none
}

li:last-child li:last-child div.gallery_shapeitem:last-child {
    margin-bottom: 100px
}


    ul#gallery_agentlist > li:first-child {
        margin-top: 50px
    }

    ul#gallery_agentlist > li:last-child {
        margin-bottom: 100px
    }


  
 
  
 
  #container{background:#eee!important}
  #status-bar{background:#eee;}
  
  
 #vat-conditions-header, #vat-actions-header, #vat-code-header-td {
    background: none;
}

   
  /*space between code containers*/
  
  
  /*Codeblocks*/
    #vat-conditions,#vat-actions{background:none;}

     #vat-conditions .condition {
        float: right;
        text-align: left;
    }
   .instruction-content{margin:1px 1px 1px 10px;}
   
  .instruction,     .editable-display{
  border-radius:20px;
  border:none;
   margin-left:0px;
  }
  
    .editable-display{
      padding:0px 10px;
      background:white;
      color:gray;
            
  }
    .editable-display:hover{background: lightgrey;color:grey;
  color:white;}
  
    .direction-picker-display,.direction-popup-editor,.one-true-value-editor,.shape-editor-display{border-radius:20px;}
   
 .vat-flippy-closed{position:relative;
  left:5px;
  color:white;
    font-size:8px;
  }
  
  
  
  
  /*methods and rules*/

 .rule{display:flex;
   border:none;}
  
  .rule .anc{vertical-align:top; position:relative; top: 8px; left:-10px}
 


 .method{border: none;margin-bottom:50px;padding:5px}
  
  .method-disclosure-span{color:#888;}
  
  textarea.comment-textarea{margin-left:60px;padding-left:10px; border:#ddd solid 1px;
  background:white;
    border-radius:20px;
    color:#555!important;
width:80%;
margin-bottom:20px;}
  
  textarea.comment-textarea:focus{outline-style:none; background:white; color:black!important;}
div.trigger-name{padding-left:30px;}
  
  .trigger-name .editable-display{font-size:50px;
font-family:'Roboto';    
font-family:'cute font';
  padding:10px 30px 10px 20px;
    margin:20px 20px 5px 0px;background:none;color:grey;}




  .trigger-name .editable-display:hover{background:#eee;}

.trigger-name .editable-display:after{content:"▼"; font-size:15px;position:relative; left:20px;}
  
  .method .trigger-name{border:none;}
  
  
/*method-if then*/
  .block .if-then{border:none;padding-left:3vw;padding-top:30px; padding-bottom:15px;min-height:60px}
  


.if-then .if,
.if-then .then {
    font-size: 0px;
  color:black;
  top:-1px;

     
}

span.if::before,span.then:before {
  color:#555;
  

  font-weight:100;
    position: absolute;
    font-size: 18px;
    content: " else if";
  top:-20px;
  left:0px;
}


.block.rule:first-child .anc.if::before {
    content: "if"
}
span.then:before {
    content: "then"
}

.rule .instruction-area {
    display: block !important
}  
 
/*Scrollbar*/

::-webkit-scrollbar-track {
    background: none
}

::-webkit-scrollbar {
    background: none;
    height: 0px;
    width: 10px
}

::-webkit-scrollbar-thumb {
    background: none;
    border: 1px #bbb solid;
    border-radius: 5px;
    height: 40px
}

::-webkit-scrollbar-track-piece {
    background: none;
    border: transparent 1px solid;
    border-radius: 20px;
    margin-bottom: 40px
}

 
  
  
  /*Buttons allover*/
    button{
      
  border:solid red 0px;
      border-radius:3px;
  
  padding:5px 15px;
  margin:0px; font-size:12px;
  background:white;
  font-weight:500;
  text-transform: uppercase;
  outline-style:none;
  }

  

  /*Buttons top*/
 
  
    button#tool-play.down,button#tool-stop.down {
        background: none;
        background-position: 50%;
        background-repeat: no-repeat;
        outline-style: none;
        background-size: 22px
    }
 
  
  /*Buttons bottom*/
  
  
  #bottom-toolbar{background:white;border-top:solid #ccc 1px;}
  
  #gallery-buttons{position:fixed; left:10px;}
  
  #gallery-minus-button {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    font-size: 0;
    position: relative;
    top: -0.5px;
    width: 24px;
    height: 24px
}
  
  #vat-delete-button {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    font-size: 0;
    position: relative;
    height: 24px
}
 
  
  /*Buttons top
  */
  

#tool-arrow img, 
#tool-pencil img, 
#tool-eraser img, 
#tool-multi img,
#tool-hand img,
#tool-camera-pan img,
#tool-camera-rot img,
#tool-camera-zoom img,
#tool-fp img, button#tool-shadows img{
    display: none;
}


  
button#tool-arrow {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/cursor.png);
    top: 140px;
  }
  
  button#tool-pencil {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/edit.png);
    top: 260px;
  }
  
  button#tool-eraser{ 
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/erase.png);
    top:370px; 
  }
   button#tool-hand {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/pointer.png);
    top:195px;
  } 

button#tool-multi {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/paint.png);
  top:315px;
}
    
  button#tool-camera-pan{    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/drag.png);
        top:435px;

} button#tool-camera-rot{    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/3drotation.png);top:490px;
}
  button#tool-camera-zoom{
        background: url(/Ristretto3D/public/css/skins/icons/darkgrey/zoom.png);
        top:545px;
  }
button#tool-fp {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/birdview.png);}

button#tool-shadows {
  background: url(/Ristretto3D/public/css/skins/icons/darkgrey/cloud.png);}
 
button#tool-arrow, button#tool-pencil, button#tool-eraser, button#tool-multi,
button#tool-hand,
button#tool-camera-pan, button#tool-camera-rot,
button#tool-camera-zoom, button#tool-fp, 
button#tool-shadows{
  background-color: none;
  }
  
  .down{
  outline-style: none;}
  

   button#tool-arrow.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/cursor.png);
  }
  
  
 button#tool-hand.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/pointer.png);}
  
   button#tool-pencil.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/edit.png);
    }
     button#tool-multi.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/paint.png);
    }
       button#tool-eraser.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/erase.png);
 }
     button#tool-camera-pan.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/drag.png);
    }
      button#tool-camera-rot.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/3drotation.png);
  }
  
       button#tool-camera-zoom.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/zoom.png);
    }
  


button#tool-fp.down {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/first-person-view.png);}
  
button#tool-shadows.down {
  background: url(/Ristretto3D/public/css/skins/icons/darkgrey/sun.png);}


button#tool-arrow,
button#tool-arrow.down,
button#tool-pencil,
button#tool-pencil.down,
button#tool-eraser, 
button#tool-eraser.down, button#tool-multi,
button#tool-multi.down,
button#tool-hand,
button#tool-hand.down,  
button#tool-camera-pan, 
button#tool-camera-pan.down,
button#tool-camera-rot,
button#tool-camera-rot.down,
button#tool-camera-zoom,
button#tool-camera-zoom.down,
button#tool-fp,button#tool-fp.down, button#tool-shadows,button#tool-shadows.down{
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    height: 40px;
    left: 10px;
    width: 40px;
    z-index: 5;
  margin-top:3px;
  margin-right:3px;
  margin-bottom:3px;
}
button#tool-fp,button#tool-fp.down{ background-size: 15px 13px;}



button#tool-arrow.down,
button#tool-pencil.down,
button#tool-eraser.down, 
button#tool-multi.down,
button#tool-hand.down,  
button#tool-camera-pan.down,
button#tool-camera-rot.down,
button#tool-camera-zoom.down,button#tool-play.down,button#tool-stop.down, button#tool-step.down{background-color:#eee;}


/*Toolbar*/

#toolbar:after{content:""; position:fixed; left: 0px; top:0px; height:50px; background:white; width:100%; z-index:-100;}

#toolbar{
 background:white;!important;
  border:solid #ccc 1px!important;
  height:49px; 
  margin-top:30px; 
  padding-left:40px;
  padding-top:0px
}

#toolbar button, #toolbar button:first-child{border:solid white 0px; border-left:0px;}



/*
#toolbar .group:last-child{z-index:40;}
#toolbar .group:first-child{position:fixed; right:10px; top:30px}*/


.group{padding:0px; margin-right:0px;height:30px; }
.group:last-child{border-right:solid #ccc 1px; padding-right:20px}
.group:first-child{display:none;}


/*Button position*/
#tool-play, #tool-stop,#tool-step, #tool-fp, #tool-shadows, #world-save-button, #world-clone-button, #tool-reset{
margin-top:3px;margin:3px 2px 0px 2px;padding:5px 12px; width:40px;}
#tool-reset{position:relative; left:25px;}

#slider-group{margin-top:18px;padding:0px 15px}




button#tool-hand{ 
}
.group{border-left:solid #ccc 1px; border-right:solid #ccc 1px; padding-left:10px;padding-right:10px;vertical-align:top!important;height:55px;}
 .group:nth-child(2),.group:nth-child(3),.group:nth-child(4){left:0px;top:0px;height:0px;}


#toolbar button{height:40px;}

/*
.group:nth-child(5){left:400px;top:35px;}
.group:nth-child(6){left:539px;top:35px;}
.group:nth-child(7){left:775px;top:35px;}
.group:nth-child(8){left:910px;top:35px;}
.group:nth-child(9){left:977px;top:35px;}
.group:nth-child(10){left:1044px;top:45px;}*/
/*Menu*/
#action-button img,
#language-button img, #world-button img, #world-button-text{
  display:none;
}


button#action-button,button#language-button, button#world-button{
  background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 20px;
    height: 30px;
    top:0px;
    position: fixed;
    width:100px;
    border-radius:0px;
}

button:hover{background-color:#EEE!important;}


#action-button-menu{position:fixed;top:28px;left:100px;}

#language-drop-down {
    position: fixed;
   top: 28px;
    left: 200px;
}

button#action-button{
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="25%" y="75%" font-size="13"     font-family="Roboto" fill="black">AgentCubes</text></svg>') ;
       left: 100px;
}
button#language-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="30%" y="75%" font-size="13"     font-family="Roboto" fill="black">Language</text></svg>') !important;
    left: 200px;  
}

button#world-button{left:300px;font-family:"roboto"; color:black;  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="36%" y="75%" font-size="13"     font-family="Roboto" fill="black">World</text></svg>') !important;
    left: 300px; }

   
#world-button-menu{position:fixed; left: 300px; top:28px; content:" ";}

button#world-clone-button, button#world-save-button{background: url(/Ristretto3D/public/css/skins/icons/darkgrey/save.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    font-size: 0;
}

#toolbar select{border:solid #ccc 1px; color:grey;background-color:rgba(0,0,0,0); box-shadow:none; position:relative; left:20px}


#error {
    background-color: blue;
    border: solid blue 100px;
    color: white;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    opacity: 1;
    position: relative;
    top: 100px
}

div.humane-error{ text-shadow:none; box-shadow:none; background:#CC0F0F ;padding:30px; border:solid #FF0000 0px; color:white; }




@media (max-width: 1240px) {
  #wrap{height:100%!important;}

  #gallery-container{position:fixed;
    height:45%!important;border-bottom:solid #ccc 1px; }
  #bottom-toolbar{position:fixed;bottom:0px;}
  
  #vat-buttons{text-align:right;}
  #non-gallery-container{position:fixed;top:79px;height:100%!important}
  #vat{position:fixed; left:0px;}
  #gallery-title-span{position:fixed; top: 100px;}
  #vat-conditions,#vat-actions{width:180px;}

  .instruction{max-width:200px;}
  #vat-code-header-resize-img{display:none;}
  #vat-help-button{font-size:0px;}
  #vat-help-button:after{content:"HELP";font-size:12px;}

  
  #vat{height:50%!important;}
  
    
 canvas{width:100%!important;
  height:50%!important;}
}

.editor .editable-display > span{position:relative;top:0px;top:10px;}



/*Action A Shape*/

.action{  
  border-radius:0px;
  display:inline-flex;
    }

.vat-flippy-closed,.vat-flippy-open{z-index:20;}



/*right Corner*/
.action.instruction-context-menu:after,.if-then .action.instruction-context-menu:after{content: '';
    border-left: 15px solid transparent;
    border-top: 15px solid #eee;
  margin-right:-4px;
  margin-top:-3px;
}

/*Left Corner*/
.action.instruction.instruction-context-menu:before{content: '';
   border-right: 15px solid transparent;
   border-top: 15px solid #eee;
  position:absolute;
  margin-left:-4px;
  margin-top:-3px;
    }

/*in Rule*/
.if-then .action.instruction-context-menu:after, .if-then .action.instruction.instruction-context-menu:before{border-top: 15px solid white;}

/*special color*/
.vat-selected .if-then .action.instruction.instruction-context-menu:before,.vat-selected .if-then .action.instruction-context-menu:after{border-top: 15px solid #e6ded4;}
.vat-selected .if-then .action.instruction.instruction-context-menu:before,.true .vat-selected .if-then .action.instruction-context-menu:after{border-top: 15px solid #e6ded4;}


/*Conversational Programming*/


/*CP: true nonselected correct A-Shape-color*/
/*True-block*/

 .true .if-then .action.instruction.instruction-context-menu:before, .true .if-then .action.instruction-context-menu:after{ border-top: 15px solid #C8E6C9}
 .false .if-then .action.instruction.instruction-context-menu:before, .false .if-then .action.instruction-context-menu:after{ border-top: 15px solid #888;}


/*conversational programming*/

.true .if-then{background:none!important;}

.false .if-then{background:none!important;}
#vat .false .instruction, .true ~ .block .instruction {
  background:#e74c3c;
}

    #vat .condition.false span.instruction-name {
        color: white
    }

#vat .condition.true, .true .action {
  background:#2ecc71;
   
}

    #vat .condition.true span.instruction-name {
        color: white;   
    }


.block.false, .true ~ .block {
    opacity: 0.4;
    background:#888!important;
}

.block.false:hover, .true ~ .block:hover {
    opacity: 1.0;
    background:#888!important;
}

.block.true {
    background: #C8E6C9!important;
}

.true, .true .instruction:hover, .true .vat-selected {background:#2ecc71!important;}

.false,.false
.instruction:hover, .true ~ .block .instruction:hover ,.false .vat-selected{background:#e74c3c!important;}

.false,.false:hover{background:#e74c3c!important;}




/*Block content*/
#one-true-value-editor {
    background: white;
    border: solid #ccc 1px;
  color:#999;
  padding-left:20px;
  padding-right:10px;
}

    #one-true-value-editor .cancelbutton {
        background: url(/Ristretto3D/public/css/skins/icons/darkgrey/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        left: 5px;
      top:-4px;
        outline-style: none;
        position: relative
    }

    #one-true-value-editor .acceptbutton {
        background: url(/Ristretto3D/public/css/skins/icons/darkgrey/checkbox.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        left: 3px;
        top:-4px;
        outline-style: none;
        position: relative
    }


#one-true-value-editor input {
  size:auto;
    background-color: #eee;
    color: black;
    margin: 10px;
    outline-style: none;
    font-size: 20px;
    padding-left: 10px;
    border: none;
  border-radius:20px;
  margin-left:20px;
}

#one-true-value-editor img{background:#ccc;
padding:2px;margin:2px; border-radius:5px;}
#one-true-value-editor img:hover{background-color:var(--highlight); border:solid white 0px;;}
#vat input {
    color: #666
}

.shape-popup-editor{padding-top:10px;}





/*Add agent*/
.AgentView {
    position: relative;
    top: 100px; 
  width:870px!important;
  border-radius:5px;
}
.AgentView select.texture-select{ min-width:190px;background:#eee; border-radius:4px;padding:5px; height:335px; font-size:14px; margin-top:20px;outline: none!important;
    color:grey;}

.AgentView canvas.threed-view{position:relative; top:-4px; border-radius:4px; border:solid white 0px; height:335px!important; width:335px!important;}


.new-shape-dialog{border-radius:5px; position:relative; top: 100px; }
.new-shape-dialog input{font-size:12px;border-radius:20px; border:solid white 0px; background:var(--foreground); margin:10px; padding:10px 10px 10px 20px}

.new-shape-dialog span{position:relative; left:-180px;}


/*Add Agent window*/

#new-agent-div {
    background-color: white;
}



/*TODO: Upload image to agentcubes-server and adjust url */
#new-agent-div .shape-button-icon{background-image:url(https://github.com/pwigger/css4AC/raw/master/icons/other/new-agent-icons.png);}

.shape-button {
    background-color: white !important;
    color: white !important;
    box-shadow: none !important;
  position:relative;top:20px;
}

.down .inflatable-icon:before{
  font-size:11.5px;color:white;content:"Adding a lot of inflatable agents might slow down your project!";
position:relative;left:470px;top:305px;z-index:20;}

.shape-button.down {
    border: solid #ffc23a 0px;
    background: lightblue !important;
    width: 58px;
  height:58px;
}

.shape-button-label {
    display: none !important
}

input#enter-agent-name {
    background: var(--foreground);
    color: black;
    height: 50px;
  font-size:20px;
    padding-left: 20px;
    border-radius:20px;
  outline-style:none;
  border:solid white 0px;
position:relative;  
left:-20px
}

#new-agent-div label{margin-left:15px;}

button#cancel-button, button#save-button {
  margin-top:20px;
    margin-right: 10px;
  margin-bottom:-25px;
  background:#eee;
}

button#cancel-button:hover, button#save-button:hover {background:#ccc;}

/*Editor 1 (3d inflate) dialogfield*/

#icon-editor-table {
    background-color: #fff;
    position: relative;
    top: 40px;
  border-radius:5px;
}
#controls-table{
  border-radius:5px;
  margin-top:0px;
  padding-top:10px; 
  padding-bottom:20px;
  margin-right:10px;
  padding-right:10px;
  color:black;
position:relative;
top:30px;}

button#clear-button:before{content:" ";position:absolute;top:-320px; left:60px;width:288px;height:185px;border:solid #ccc 1px;border-radius:5px;pointer-events: none;}
button#flatten-button:before{content:" ";position:absolute;top:-125px; left:95px;width:288px;height:200px;border:solid #ccc 1px;border-radius:5px;pointer-events: none;}

#controls-table tr:nth-child(5){display:none;}
#pressure-readout{position:relative; left:-10px;}

.icon-editor-table-element#icon-buttons-td{padding-top:33px;padding-bottom:0px;}
#icon-editor-table button{border:solid #ccc 1px;color:#5399DB;}

.icon-editor-table-element .right{font-size:11px;font-family:monospace}

/*3D editor buttons left */
.icon-tool-with-translated-tooltip#pencil{
  background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/edit.png) !important;
  top: 95px;}

.icon-tool-with-translated-tooltip#eraser {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/erase.png) !important;   
    top: 125px;
}

.icon-tool-with-translated-tooltip#eye {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/eye.png) !important;
    top: 155px;
}

.icon-tool-with-translated-tooltip#bucket {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/bucket.png) !important;
    top: 185px;
}

.icon-tool-with-translated-tooltip#wand {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/wand.png) !important;
    top: 215px;
}

.icon-tool-with-translated-tooltip#rect {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/rect.png) !important;
    top: 255px;
}
  
.icon-tool-with-translated-tooltip#circ {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/circ.png) !important;
    top: 285px;
}
       
.icon-tool-with-translated-tooltip#poly {
    background-image: url(/Ristretto3D/public/css/skins/icons/darkgrey/poly.png) !important;
    top: 315px; 
    height:30px!important;
}

.icon-tool-with-translated-tooltip#pencil,.icon-tool-with-translated-tooltip#eraser,.icon-tool-with-translated-tooltip#eye,.icon-tool-with-translated-tooltip#bucket,.icon-tool-with-translated-tooltip#wand, .icon-tool-with-translated-tooltip#rect,.icon-tool-with-translated-tooltip#circ,.icon-tool-with-translated-tooltip#poly {
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: 12px;
    height: 30px;
    width: 30px;
    background-color: white;
    position: fixed;
    border: white solid 1px; border-radius:10px;  
}

.icon-tool-with-translated-tooltip#pencil.down,.icon-tool-with-translated-tooltip#eraser.down,.icon-tool-with-translated-tooltip#eye.down,.icon-tool-with-translated-tooltip#bucket.down,.icon-tool-with-translated-tooltip#wand.down, .icon-tool-with-translated-tooltip#rect.down,.icon-tool-with-translated-tooltip#circ.down,.icon-tool-with-translated-tooltip#poly.down {background-color:#eee;}

.icon-tool-with-translated-tooltip#pencil:hover,.icon-tool-with-translated-tooltip#eraser:hover,.icon-tool-with-translated-tooltip#eye:hover,.icon-tool-with-translated-tooltip#bucket:hover,.icon-tool-with-translated-tooltip#wand:hover, .icon-tool-with-translated-tooltip#rect:hover,.icon-tool-with-translated-tooltip#circ:hover,.icon-tool-with-translated-tooltip#poly:hover {background-color:#eee}

#image-editor-tools li #color-picker-bg{position:relative; top:120px;}
#image-editor-tools li #color-picker{position:relative; width:30px;height:30px;border:solid #aaa 1px;}


/*Mirror*/
#none{
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/none.png) !important;  
     top: 135px;
    left: 45px;
}


#none.down,#none:hover,#horz.down, #horz:hover,#vert.down,#vert:hover,#both.down, #both:hover{background-color:#eee!important;}    


       
#horz {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/2ways_vertical.png) !important;
    
    top: 105px !important;
    left: 80px !important;
    
}

    



#vert {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/2ways_horizontal.png) !important;
   
    top: 75px !important;
    left: 115px !important;
 
}

   

#both {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/4ways.png) !important;
    
    top: 45px !important;
    left: 150px !important;
    
}


#none,#horz,#vert,#both{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 15px !important;
    height: 30px !important;
    position: relative;
  border-radius:5px;
}

/*Icons 3d Editor-right */
.icon-view-tools {
    position: relative;
    left: 12px;
    top: -10px;
}
.icon-view-tools li{margin-top:8px;}


.icon-view-tools li[title="3D-Print"] img  {  
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/download.png);
}
.icon-view-tools li img[src*="pan-down"] {
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/drag.png);
    background:#eee;
}

.icon-view-tools li img[src*="pan-up"] {
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/drag.png);
}
 
.icon-view-tools li img[src*="zoom-up"] {
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/zoom.png); 
}

.icon-view-tools li img[src*="zoom-down"] {
    background-color: #ffc23a;
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/zoom.png);
        background:#eee;
}

.icon-view-tools li img[src*="orbit-down"] {
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/3drotation.png);   
    background:#eee;
}

.icon-view-tools li img[src*="orbit-up"] {
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/3drotation.png); 
}

.icon-view-tools li img[src*="reset"] {
    content: url(/Ristretto3D/public/css/skins/icons/darkgrey/restart.png);
}

.icon-view-tools li[title="3D-Print"] img,.icon-view-tools li img[src*="pan-down"], .icon-view-tools li img[src*="pan-up"],.icon-view-tools li img[src*="zoom-up"],.icon-view-tools li img[src*="zoom-down"],.icon-view-tools li img[src*="orbit-down"],.icon-view-tools li img[src*="orbit-up"],.icon-view-tools li img[src*="reset"]  {  
  height: 25px;
    width: 25px;
    cursor: pointer;
    position: relative;
   padding:6px;
      border-radius:5px!important;
}

.icon-view-tools li img[src*="reset"]:hover,.icon-view-tools li img[src*="3D-print"]:hover,.icon-view-tools li img[src*="pan-down"]:hover, .icon-view-tools li img[src*="pan-up"]:hover, .icon-view-tools li img[src*="zoom-up"]:hover, .icon-view-tools li img[src*="zoom-down"]:hover, .icon-view-tools li img[src*="orbit-down"]:hover, .icon-view-tools li img[src*="orbit-up"]:hover, .icon-view-tools li img[src*="reset"]:hover {
  background-color:#eee;
 }






/*Buttons below & hidden*/

button#clear-button,button#flatten-button {
    position: relative;
    top: 150px;
    right: 180px;
    width: 30px ;
    height: 30px ;
    padding: 0px ;
    color: #777;
  border:solid white 0px;
}

    button#clear-button:hover, button#flatten-button:hover; {
        background: #eee; 
      
    }

 button#flatten-button{
    right: 250px;   
}

#flatten-button-text {
    display: none
}

#clear-button-text {
    display: none
}

#surfaces-dropdown {
    position: relative;
    top: -15px;
    left: 40px;
    background: none;  
}

#icon-cancel-button {
    margin-right: 10px
}

#clear-button {
    margin-right: 5px
}



/*#pressure-td {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/inflate.png);
}*/



#ceiling-td { 
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/roof.png);
}



#noise-td {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/noise.png);
}

#pressure-td,#ceiling-td,#noise-td,.icon-editor-table-element :nth-child(3) .left {background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    font-size: 0}


.icon-editor-table-element :nth-child(3) .left {

    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/blur.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
  font-size:0px;
  width:50px;
 
}

#z-offset-td {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/vert-dist.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 30px;
    font-size: 0
}

#upright-td {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/stand-up.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 0;
    position: relative;
    top: 20px
}

#upright-checkbox {
    position: relative;
    top: 20px
}

#surfaces-td {
    font-size: 0;
  
}

#distance-td {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/hor-dist.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 0
}

#surfaces-dropdown {
  
  width:130px!important;
  margin-right:40px!important;
}

.inflation-button {
  color:#555!important;
}


/*Variables*/
/*Draggable window: Variables*/

.draggable-window-content-div table {
    margin-bottom: 20px
}

.draggable-title-bar  {
    background: none;
    font-size: 15px
}

.draggable-window input {
    top: 0px
}

.draggable-window,
#plot-window {
    background: white;
    border: solid white 1px;
    color: black;
    font-size: 20px;
    padding: 10px;
}

.highlightedRow {
    width: 300px border:solid white 1px
}



    .attribute-row td {
        padding: 0px 10px
    }

.attribute-window-table {
    width: 190px
}

.attributeRowNumber {
    font-size: 13px;
    margin: 0
}



.draggable-window input{color:#555; border:solid grey 0px; background:#eee}  
.draggable-window button{width:57px;}
.cancelbutton{}

#plot-window-table {
    margin: 10px;
}

#plot-window-title{color: black}
#plot-window-title-bar{background:none;}

#plot-max-value,#plot-min-value{color:black;}



.context-menu-list{border-radius:0px;min-width:240px;padding:0px;background:white;border:solid #ccc 1px;}
.context-menu-item{background-color:white;padding:4px 2px 2px 40px}
.context-menu-item.icon{margin-left:0px;background-position:10px 8px;min-height:30px;}

.context-menu-item:hover{background-color:#eee;}




.popped-over-content{background:white; margin-top:40px;}
#color-chooser-preview{height:35px;}

/*Loop*/
.instruction-area .nested-container{background-color:white;border:solid white 0px;
padding:10px;}

#vat-conditions:last-child,#vat-actions:last-child{padding-bottom:80px!important;}
.group-title{padding-top:40px; font-family:cute font; font-size:30px;}
#vat-conditions .group-title{text-align:right;}














