@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Roboto');


@import url('https://fonts.googleapis.com/css?family=Boogaloo');

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

@import url('https://fonts.googleapis.com/css?family=Squada+One');


@import url('https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre|Bahiana|Baloo+Da|Bubblegum+Sans|Chewy|Concert+One|Flamenco|Fredoka+One|Irish+Grover|Kirang+Haerang|Londrina+Solid|Luckiest+Guy|Offside|Press+Start+2P|Skranji|Slackey|Sniglet|Squada+One|Tulpen+One');
  
/*OK Fonts
Cute Font Averia Gruesa Libre Bubblegum sans Sans Kirang Haerang Londrina solid Skranji Sniglet*/

/*Farbe für Block*/
.instruction,     .editable-display{
  
  background:#444;
  background:#F5C169;
  background:#7A9ACF;
  background:#6CC4F6;
  background:#7C6CE5;
  background:#F78737;
  background:#2BC6DA;  

  color:white;
  
    font-family: 'Bubblegum Sans'; 


     font-family: 'Averia Gruesa Libre'; 
   font-size:14px;
  
    font-family: 'Cute Font';
font-size:22px;
   
  font-weight: 100;
  
        

}

.action{}
.condition{}
  body{background:#eee;
  font-family:Avenir;
    font-size:12px;
  line-height:22px;
}

/*
 body:after{
    position:fixed;
    top:0px;
    left:0px;
    display:table;
    width:250px;
    height:70px;
    content:" ";
    background:#4B435C;
}*/


/*adjust Colors*/

 #gallery-container {
    background-color: #eee;
   color:#5399DB;
   color:#7C7C8D;
   border-right:solid #DDD 1px
}

/*Button-text*/
button{
  color:#5399DB;
}




  /*Block Hover color*/
.instruction:hover, .vat-selected{
  background:#2BC6DA;
}


/*Farbe für Regel*/
 .rule{display:flex;
   background:none;
   margin:20px;
}
.rule-box{background:none;}

  .block .if-then{background:none;}

 .method{background:#fff;
 box-shadow: 0 6px 10px rgba(0,0,0,0.16), 0 3px 2px rgba(0,0,0,0.16);}

.block{margin:0px -5px 0px -5px;}

 /*Selected Rules and Methods*/
  #vat .rule.vat-selected,#vat .method.vat-selected{background:#F5C169;}
#vat .rule{ border-top:solid #efefef 5px;}

  /*#vat-table tbody tr td:last-child{padding-right:140px;}*/

#vat-table{margin-left:20px;}
  
/*Cleanup*/


#vat-code-td #vat-code {padding:0px 40px 0px 50px;}
#vat-conditions-scroll,#vat-actions-scroll{padding:0px 10px 0px 20px;}



 /*Gallery*/
    
 #gallery-container {
  width:250px;
}




#non-gallery-container{position:absolute;
top:0px; left:250px;}
#container canvas{padding-right:30px;}
#layer-controls{color:#bbb;position:fixed; top:15px; right:15px;opacity:0.2}
#layer-controls:hover{opacity:1;}





#gallery-title-span{position:relative;
top:20px;left:100px;}


  button.config{font-size:0px;background:none; border:none; }
  
  button.config:after{font-size:10px;
content:" edit"; color:#aaa; position:relative;
top:-2px;left:-10px}



ul#gallery_agentlist{margin:0px 0px 0px 0px;
  width:250px;
  
}
  
.gallery_agentitem{padding-left:35px; height:40px;}

.flippy-open, .flippy-closed{
  position:relative; left:200px;
  top:11px; 
 font-size:8px;}

/*.flippy-closed:after {content:"SHAPES"}
.flippy-open:after {content:"HIDE"}*/

  #gallery-description{padding-top:30px;background:none; font-size:50px; font-family:'cute font';}
 
.gallery_shapeitem{padding-left:50px;
 

}

#asi-cube-link img{position:fixed; left:0px;background:white;top:8px;height:70px;border-left:solid white 30px;border-bottom:solid white 10px;
border-right:solid white 28px;}
.gallery_agentitem .gallery-thumbnail {
    top: 9px;
  height:20px;
  width:20px;
  margin-right:20px;

}



.gallery_shapeitem .gallery-thumbnail {
    top:2px;
  height:20px;
  width:20px;
  margin-right:20px;

}




 .gallery_agentitem:hover, .gallery_shapeitem:hover {
        cursor: pointer
    }

.gallery_agentitem .gallery_name{position:relative; top:10px}
.gallery_shapeitem .gallery_name{position:relative; top:3px;}



li ul.gallery_agentsublist li:last-child div.gallery_shapeitem {
    margin-bottom: 30px;

}


li.gallery-shapelabel {
    display: none
}

li:last-child li:last-child div.gallery_shapeitem:last-child {
    margin-bottom: 100px
}


    ul#gallery_agentlist > li:first-child {
        margin-top: 50px
    }

    ul#gallery_agentlist > li:last-child {
        margin-bottom: 100px
    }


  
 
  
 
  #container{background:#eee!important}
  #status-bar{background:#eee;}
  
  
  
 

 
  
  
 #vat-conditions-header, #vat-actions-header, #vat-code-header-td {
    background: none;
}

   
  /*space between code containers*/
  
  
  /*Codeblocks*/
    #vat-conditions,#vat-actions{background:none;}

     #vat-conditions .condition {
        float: right;
        text-align: left;
    }
   .instruction-content{margin:1px 1px 1px 10px;}
   
  .instruction,     .editable-display{
  border-radius:20px;
  border:none;
   margin-left:0px;
  }
  
    .editable-display{
      padding:0px 10px;
      background:white;
      color:gray;
            
  }
    .editable-display:hover{background: lightgrey;color:grey;
  color:white;}
  
    .direction-picker-display,.direction-popup-editor,.one-true-value-editor,.shape-editor-display{border-radius:20px;}
   
 .vat-flippy-closed{position:relative;
  left:5px;
  color:white;
    font-size:8px;
  }
  
  
  
  
  /*methods and rules*/
 .rule{display:flex;
   border:none;}
  
  .rule .anc{vertical-align:top; position:relative; top: 8px; left:-10px}
  
  .block .if-then{border:none;padding-left:30px;padding-top:15px; padding-bottom:0px;min-height:60px}
  
 .method{border: none;margin-bottom:50px;padding:5px}
  
  .method-disclosure-span{color:#888;}
  
  textarea.comment-textarea{margin-left:60px;padding-left:10px; border:#ddd solid 1px;
  background:white;
    border-radius:4px;
    color:#555!important;
width:80%;
margin-bottom:20px;}
  
  textarea.comment-textarea:focus{outline-style:none; background:white; color:black!important;}
 
  
  .trigger-name .editable-display{font-size:50px;
  padding:20px 0px 10px 20px;
    margin:20px 20px 0px 20px;background:none;color:grey;}
  .trigger-name .editable-display:hover{background:#eee;}

.trigger-name .editable-display:after{content:"▼"; font-size:15px;position:relative; left:20px;}
  
  .method .trigger-name{border:none;}
  
 
  
  
  /*stuff around codeblocks*/
  
 
/*Scrollbar*/

::-webkit-scrollbar-track {
    background: none
}

::-webkit-scrollbar {
    background: none;
    height: 0px;
    width: 10px
}

::-webkit-scrollbar-thumb {
    background: none;
    border: 1px #bbb solid;
    border-radius: 5px;
    height: 40px
}

::-webkit-scrollbar-track-piece {
    background: none;
    border: transparent 1px solid;
    border-radius: 20px;
    margin-bottom: 40px
}

 
  
  
  /*Buttons allover*/
    button{
      
  border:solid red 0px;
      border-radius:3px;
  
  padding:5px 15px;
  margin:0px; font-size:12px;
  background:white;
  font-weight:500;
  text-transform: uppercase;
  outline-style:none;
  }

  

  /*Buttons top*/
 
  
    button#tool-play.down,button#tool-stop.down {
        background: none;
        background-position: 50%;
        background-repeat: no-repeat;
        outline-style: none;
        background-size: 22px
    }
 
  
  /*Buttons bottom*/
  
  
  #bottom-toolbar{background:white;border-top:solid #ccc 1px;}
  
  #gallery-buttons{position:fixed; left:10px;}
  
  #gallery-minus-button {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    font-size: 0;
    position: relative;
    top: -0.5px;
    width: 24px;
    height: 24px
}
  
  #vat-delete-button {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
    font-size: 0;
    position: relative;
    height: 24px
}
 
  
  /*Buttons left
  */
  



 

#tool-arrow img, 
#tool-pencil img, 
#tool-eraser img, 
#tool-multi img,
#tool-hand img,
#tool-camera-pan img,
#tool-camera-rot img,
#tool-camera-zoom img,
#tool-fp img, button#tool-shadows img{
    display: none;
}


  
button#tool-arrow {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/cursor.png);
    top: 140px;
  }
  
  button#tool-pencil {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/edit.png);
    top: 260px;
  }
  
  button#tool-eraser{ 
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/erase.png);
    top:370px; 
  }
   button#tool-hand {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/pointer.png);
    top:195px;
  } 

button#tool-multi {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/paint.png);
  top:315px;
}
    
  button#tool-camera-pan{    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/drag.png);
        top:435px;

} button#tool-camera-rot{    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/3drotation.png);top:490px;
}
  button#tool-camera-zoom{
        background: url(/Ristretto3D/public/css/skins/icons/darkgrey/zoom.png);
        top:545px;
  }
button#tool-fp {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/birdview.png);}

button#tool-shadows {
  background: url(/Ristretto3D/public/css/skins/icons/darkgrey/cloud.png);}
 
button#tool-arrow, button#tool-pencil, button#tool-eraser, button#tool-multi,
button#tool-hand,
button#tool-camera-pan, button#tool-camera-rot,
button#tool-camera-zoom, button#tool-fp, 
button#tool-shadows{
  background-color: none;
  }
  
  .down{
  outline-style: none;}
  

   button#tool-arrow.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/cursor.png);
  }
  
  
 button#tool-hand.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/pointer.png);}
  
   button#tool-pencil.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/edit.png);
    }
     button#tool-multi.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/paint.png);
    }
       button#tool-eraser.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/erase.png);
 }
     button#tool-camera-pan.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/drag.png);
    }
      button#tool-camera-rot.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/3drotation.png);
  }
  
       button#tool-camera-zoom.down{
 background: url(/Ristretto3D/public/css/skins/icons/darkgrey/zoom.png);
    }
  


button#tool-fp.down {
    background: url(/Ristretto3D/public/css/skins/icons/darkgrey/first-person-view.png);}
  
button#tool-shadows.down {
  background: url(/Ristretto3D/public/css/skins/icons/darkgrey/sun.png);}


button#tool-arrow,
button#tool-arrow.down,
button#tool-pencil,
button#tool-pencil.down,
button#tool-eraser, 
button#tool-eraser.down, button#tool-multi,
button#tool-multi.down,
button#tool-hand,
button#tool-hand.down,  
button#tool-camera-pan, 
button#tool-camera-pan.down,
button#tool-camera-rot,
button#tool-camera-rot.down,
button#tool-camera-zoom,
button#tool-camera-zoom.down,
button#tool-fp,button#tool-fp.down, button#tool-shadows,button#tool-shadows.down{
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    height: 40px;
    left: 10px;
    width: 40px;
    z-index: 5;
  margin-top:3px;
  margin-right:3px;
  margin-bottom:3px;
}
button#tool-fp,button#tool-fp.down{ background-size: 15px 13px;}



button#tool-arrow.down,
button#tool-pencil.down,
button#tool-eraser.down, 
button#tool-multi.down,
button#tool-hand.down,  
button#tool-camera-pan.down,
button#tool-camera-rot.down,
button#tool-camera-zoom.down,button#tool-play.down,button#tool-stop.down, button#tool-step.down{background-color:#eee;}


/*Toolbar*/

#toolbar:after{content:""; position:fixed; left: 0px; top:0px; height:50px; background:white; width:100%; z-index:-100;}

#toolbar{
 background:white;!important;
  border:solid #ccc 1px!important;
  height:49px; 
  margin-top:30px; 
  padding-left:40px;
  padding-top:0px
}

#toolbar button, #toolbar button:first-child{border:solid white 0px; border-left:0px;}



/*
#toolbar .group:last-child{z-index:40;}
#toolbar .group:first-child{position:fixed; right:10px; top:30px}*/


.group{padding:0px; margin-right:0px;height:30px; }
.group:last-child{border-right:solid #ccc 1px; padding-right:20px}
.group:first-child{display:none;}


/*Button position*/
#tool-play, #tool-stop,#tool-step, #tool-fp, #tool-shadows, #world-save-button, #world-clone-button, #tool-reset{
margin-top:3px;margin:3px 2px 0px 2px;padding:5px 12px; width:40px;}
#tool-reset{position:relative; left:25px;}

#slider-group{margin-top:18px;padding:0px 15px}




button#tool-hand{ 
}
.group{border-left:solid #ccc 1px; border-right:solid #ccc 1px; padding-left:10px;padding-right:10px;vertical-align:top!important;height:55px;}
 .group:nth-child(2),.group:nth-child(3),.group:nth-child(4){left:0px;top:0px;height:0px;}


#toolbar button{height:40px;}

/*
.group:nth-child(5){left:400px;top:35px;}
.group:nth-child(6){left:539px;top:35px;}
.group:nth-child(7){left:775px;top:35px;}
.group:nth-child(8){left:910px;top:35px;}
.group:nth-child(9){left:977px;top:35px;}
.group:nth-child(10){left:1044px;top:45px;}*/
/*Menu*/
#action-button img,
#language-button img, #world-button img, #world-button-text{
  display:none;
}


button#action-button,button#language-button, button#world-button{
  background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 20px;
    height: 30px;
    top:0px;
    position: fixed;
    width:100px;
    border-radius:0px;
}






button:hover{background-color:#EEE!important;}


#action-button-menu{position:fixed;top:28px;left:100px;}

#language-drop-down {
    position: fixed;
   top: 28px;
    left: 200px;
}

button#action-button{
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="25%" y="75%" font-size="13"     font-family="Roboto" fill="black">AgentCubes</text></svg>') ;
       left: 100px;
}
button#language-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="30%" y="75%" font-size="13"     font-family="Roboto" fill="black">Language</text></svg>') !important;
    left: 200px;  
}

button#world-button{left:300px;font-family:"roboto"; color:black;  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="36%" y="75%" font-size="13"     font-family="Roboto" fill="black">World</text></svg>') !important;
    left: 300px; }

   
#world-button-menu{position:fixed; left: 300px; top:28px; content:" ";}



button#world-clone-button, button#world-save-button{background: url(/Ristretto3D/public/css/skins/icons/darkgrey/save.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    font-size: 0;
}

#toolbar select{border:solid #ccc 1px; color:grey;background-color:rgba(0,0,0,0); box-shadow:none; position:relative; left:20px}


div.popped-over-content{top:10%; position:relative; }




#error {
    background-color: blue;
    border: solid blue 100px;
    color: white;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    opacity: 1;
    position: relative;
    top: 100px
}



@media (max-width: 1240px) {
  #wrap{height:100%!important;}

  #gallery-container{position:fixed;
    height:45%!important;border-bottom:solid #ccc 1px; }
  #bottom-toolbar{position:fixed;bottom:0px;}
  
  #vat-buttons{text-align:right;}
  #non-gallery-container{position:fixed;top:79px;height:100%!important}
  #vat{position:fixed; left:0px;}
  #gallery-title-span{position:fixed; top: 100px;}
  #vat-conditions,#vat-actions{width:180px;}

  .instruction{max-width:200px;}
  #vat-code-header-resize-img{display:none;}
  #vat-help-button{font-size:0px;}
  #vat-help-button:after{content:"HELP";font-size:12px;}

  
  #vat{height:50%!important;}
  
    
 canvas{width:100%!important;
  height:50%!important;}
}

.editor .editable-display > span{position:relative;top:0px;top:10px;}



/*Action A Shape*/


.action{  
  border-radius:0px;
  display:inline-flex;
    }

.vat-flippy-closed,.vat-flippy-open{z-index:20;}


/*Left corner in stack*/
#vat-actions .action .translated-code.instruction-name:before{content: '';

    border-right: 15px solid transparent;
    border-top: 15px solid #eee;
    position:absolute;
    left:0px;
    margin-top:-4px;
}
/*right Corner in rule && right corner in stack*/
.action.instruction-context-menu:after{content: '';
    border-left: 15px solid transparent;
    border-top: 15px solid #eee;
margin-right:-4px;
  margin-top:-3px;
}

/*Left Corner in rule flippy closed*/
.if-then .action>.vat-flippy-closed:before{content: '';
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    position:absolute;
  margin-left:-9px;
     margin-top:-3px;}

.if-then .action>.vat-flippy-open:before{content: '';
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    position:absolute;
  margin-left:-4px;
     margin-top:-3px;}



/*right Corner in rule white*/
.if-then .action.instruction-context-menu:after{border-top: white solid 15px;}

/*Selected color A-Shape*/
.vat-selected .if-then .action>.vat-flippy-closed:before,.vat-selected .if-then .action>.vat-flippy-open:before, .vat-selected .if-then .action.instruction-context-menu:after { border-top: 15px solid #F5C169;}

.instruction-area .nested-container{background:white;border: solid white 0px;
padding:10px;}

/*conversational programming*/

.true .if-then{background:none!important;}

.false .if-then{background:none!important;}
#vat .false .instruction, .true ~ .block .instruction {
  background:#e74c3c;
}

    #vat .condition.false span.instruction-name {
        color: white
    }

#vat .condition.true, .true .action {
  background:#2ecc71;
   
}

    #vat .condition.true span.instruction-name {
        color: white;   
    }


.block.false, .true ~ .block {
    opacity: 0.4;
    background:#888!important;
}

.block.false:hover, .true ~ .block:hover {
    opacity: 1.0;
    background:#888!important;
}

.block.true {
    background: #C8E6C9!important;
}

.true, .true .instruction:hover, .true .vat-selected {background:#2ecc71!important;}

.false,.false
.instruction:hover, .true ~ .block .instruction:hover ,.false .vat-selected{background:#e74c3c!important;}

.false,.false:hover{background:#e74c3c!important;}


/*CP: true nonselected correct A-Shape-color*/
/*True-block*/

.true .action>.vat-flippy-closed:before,.true .action>.vat-flippy-open:before, .true .action.instruction-context-menu:after,.true.vat-selected .if-then .action>.vat-flippy-closed:before,.true.vat-selected .if-then .action>.vat-flippy-open:before,.true.vat-selected .action.instruction-context-menu:after{ border-top: 15px solid #C8E6C9;}

/*False Block*/
.false .action>.vat-flippy-closed:before,.false .action>.vat-flippy-open:before, .false .action.instruction-context-menu:after,.false.vat-selected .if-then .action>.vat-flippy-closed:before,.false.vat-selected .if-then .action>.vat-flippy-open:before,.false.vat-selected .action.instruction-context-menu:after{ border-top: 15px solid #888;}


/*Block content*/
#one-true-value-editor {
    z-index: 20000000;
    background: #555555;
    border: solid #555555 10px
}

    #one-true-value-editor .cancelbutton {
        background: url(/Ristretto3D/public/css/skins/icons/white/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        left: 5px;
        outline-style: none;
        position: relative
    }

    #one-true-value-editor .acceptbutton {
        background: url(/Ristretto3D/public/css/skins/icons/white/checkbox.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        left: 5px;
        outline-style: none;
        position: relative
    }

input {
    background-color: white;
    color: black;
    margin: 0px 0px 0px 0px;
    outline-style: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    font-family: monospace;
    border: none;
    border-bottom: solid #ffc23a 1px;
    position: relative;
    left: -0px;
    top: 5px;
  border-radius:20px;
}

#vat input {
    color: #666
}
#one-true-value-editor:before{content:""; height:100%; width:100%; background:rgba(0,0,0,0.7);position:fixed; top:0px; left:0px;}
#one-true-value-editor{background:black; box-shadow:none; position:fixed; top:25%!important; left:40%!important;height:200px;padding-top:20px;}



